.screen {
	box-sizing: border-box;
	color: black;
	background: white;
	border: 0.125rem solid #df3b5b;
	width: 100%;
	height: 100%;
}

@media screen and (orientation: landscape) {
	.square {
		height: 100%;
		width: min-content;
	}
}

@media screen and (orientation: portrait) {
	.square {
		height: min-content;
		width: 100%;
	}
}

.square {
	aspect-ratio: 1;
}
