.manageModels {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: antiquewhite;
	color: black;
}

.header {
	box-sizing: border-box;
	padding-inline: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.closeButton {
	background-color: transparent;
	border: none;
	font-size: x-large;
	font-weight: 900;
	outline: none;
}

.closeButton:hover {
	cursor: pointer;
}

.closeButton:active {
	transform: scale(0.9);
}

.selectedModelHeader {
	gap: 0.5rem;
}

.container {
	padding-inline: 1rem;
	display: grid;
	grid-template-columns: "auto";
}
