.fluidContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header {
	margin-bottom: 1rem;
	text-align: center;
}

.footer {
	margin-top: 1rem;
	text-align: center;
}

@media screen and (orientation: landscape) {
	.fluidContainer {
		height: 97.5%;
		width: 100%;
	}
}

@media screen and (orientation: portrait) {
	.fluidContainer {
		width: 97.5%;
		height: 100%;
	}
}
